* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
.container {
  margin: 0 auto;
  max-width: 1272px;
}

body {
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0;
}

.nav {
  background-color: #2874f0;
  width: 100%;
  padding: 7px 0 7px 0;
}
.flipkart-logo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 24px;
}
.flipkart-logo > img {
  width: 75px;
}
.flipkart-logo a {
  text-decoration: none;
  display: inline-block;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
.flipkart-plus {
  /* justify-content: center; */
  /* align-items: center; */
  margin: auto;
}

#explore {
  font-size: 11px;
  color: white;
  font-style: italic;
}
#plus {
  font-size: 11px;
  color: #ffe500;
  font-style: italic;
  margin-left: -2px;
  font-weight: 600;
}
.flipkart-plus-logo {
  width: 10px;
}

.search > input[type="text"] {
  /*   border: none;
    border-radius: 2px;
    height: 34px;
    width: 313px; */
}

/* Styles for wrapping the search box */

.main {
  /* width: 50%;
    margin: 50px auto; */
}

/* Bootstrap 4 text input with search icon */

.navbar > .left {
  width: 60%;
  float: left;
  justify-content: center;
  display: flex;
}
.navbar > .right {
  width: 35%;
  float: right;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.has-search .form-control {
  padding-left: 2.375rem;
  display: block;
  width: 81%;
  height: calc(1.25rem + 2px);
  padding: 0.4rem 11.7rem 0.4rem 0.6rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  transition: 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 62.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #2874f0;
}

.login-btn > a {
  color: #2874f0 !important;
  background-color: white;
  padding: 5px 40px;
  text-decoration: none;
  border: 1px solid #dbdbdb;
  font-weight: 600;
  display: inline-block;
}
.right a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  display: inline-block;
}
.more > .fa-angle-down {
  color: white;
}
.more {
  transform: rotate(0deg);
  transition: transform 2s;
  transition-duration: 3s;
}
.more:hover .fa-angle-down {
  transform: rotate(180deg);
}
.cart > .fa-shopping-cart {
  color: white;
}

/* top offers section starts */

section#top-items {
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
}
.top-items-main {
  display: flex;
  padding: 10px 0;
  justify-content: space-evenly;
}
.top-item > img {
  width: 67px;
}
.top-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
}
.top-item {
}
.top-item .fa-angle-down {
  padding: 0 5px;
  font-weight: bold;
}
.top-item:hover .fa-angle-down {
  transform: rotate(180deg);
}

/* top offers section ends */

/* deals of the day section start */
section#deals-of-the-day-section {
  padding: 20px 0;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 25%);
  font-family: Roboto, Arial, sans-serif;
}
.deals-of-the-day .deals {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}


.deals-item-img img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title .left {
flex-direction: column;
  display: flex;
}
#timer-icon {
  width: 26px;
  display: flex;
}
.deals-of-the-day p {
  font-size: 22px;
  display: flex;
  font-weight: 500;
  align-items: center;
}
.deals-of-the-day h4 { font-weight: lighter; opacity: 0.7; }
.deals-of-the-day > .title {
  font-weight: 600;
  padding: 0 0 17px 0;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  margin: 0 0 17px 0;
  padding: 10px 5px 10px 5px;
  box-shadow: 0 0px 4px 1px rgb(0 0 0 / 16%);
}
.title .timer {
  font-weight: lighter;
  font-size: 15px;
  
}
.title .fa-clock-o {
  font-size: 21px;
  font-weight: lighter;
  padding: 0 10px;
}
.deals-main {
  display: flex;
}

.deals-of-the-day {
  width: 75%; 
  box-shadow: 0 2px 4px 1px rgb(0 0 0 / 2%);
  padding: 5px 5px 10px 5px;
}
.advertis {
  width: 25%;
}
.advertis img {
  left: 3rem;
  height: 312px;
  box-shadow: 0 0px 4px 0px rgb(0 0 0);
  position: relative;
}

.deals-of-the-day .deals-item {
  width: 30%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}
.deals-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right > a {
  padding: 10px;
  background-color: #2874f0;
  font-weight: bold;
  color: white;
}

.deals-text h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
}
.deals-text p {
  font-size: 14px;
  color: #388e3c;
  padding-top: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
}
.deals-text span {
  opacity: 0.6;
  font-size: 13px;
  padding-top: 7px;
}
.deals-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 150px;
}



.left h3{ color: #7f7f7f; font-weight: lighter; }
#books-instru { width: 100%; }
/* deals of the day section end */


/* books and instru start */
.left h3{ color: #7f7f7f; font-weight: lighter; }
#books-instru { width: 100%; }
/*  books and instru end */